<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:section name="default">
        <f:variable name="whoYouAre">the author</f:variable>
        <f:if condition="{poll -> t3oodle:permission(action:'administration')}">
            <f:variable name="whoYouAre">the author or an admin</f:variable>
        </f:if>

        <f:if condition="{poll -> t3oodle:permission(action:'publish')}">
            <div class="alert alert-secondary mb-4">
                <div class="buttons float-right my-2">
                    <f:render section="buttons" arguments="{poll:poll}" />
                    <f:link.action action="publish" arguments="{poll:poll}" class="btn btn-success">Publish now</f:link.action>
                </div>
                <p class="my-3">
                    You are {whoYouAre}. This poll is not published yet!
                    <f:render section="noticeVotingDisabled" />
                </p>
            </div>
        </f:if>

        <f:if condition="{poll -> t3oodle:permission(action:'finish')}">
            <div class="alert alert-secondary mb-4">
                <div class="buttons float-right my-2">
                    <f:render section="buttons" arguments="{poll:poll}" />
                    <f:link.action action="finish" arguments="{poll:poll}" class="btn btn-success">Finish voting</f:link.action>
                </div>
                <p class="my-3">
                    <strong>You are {whoYouAre}. The poll is published<f:if condition="{poll.visibility} == 'not_listed'">, but not listed</f:if>.</strong>
                    <f:render section="noticeVotingDisabled" />
                </p>

            </div>
        </f:if>
    </f:section>

    <f:section name="buttons">
        <f:if condition="{poll -> t3oodle:permission(action:'edit')}">
            <f:link.action class="btn btn-secondary mr-1" action="edit" arguments="{poll:poll}">Edit</f:link.action>
        </f:if>
        <f:if condition="{poll -> t3oodle:permission(action:'delete')}">
            <f:link.action class="btn btn-danger mr-1" action="delete" arguments="{poll:poll}" data="{confirm:'Do you really want to delete this poll?'}">Delete</f:link.action>
        </f:if>
    </f:section>

    <f:section name="noticeVotingDisabled">
        <f:if condition="!{settings.allowNewVotes}">
            <br><strong class="text-info">Note: Adding new votes has been disabled by administrator.</strong>
        </f:if>
    </f:section>
</html>
