<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-t3oodle" >
	<tr>
		<td>
			<f:translate key="tx_t3oodle_domain_model_poll.title" />
		</td>
		<td>
		{poll.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3oodle_domain_model_poll.slug" />
		</td>
		<td>
		{poll.slug}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3oodle_domain_model_poll.visibility" />
		</td>
		<td>
		{poll.visibility}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3oodle_domain_model_poll.author" />
		</td>
		<td>
		{poll.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3oodle_domain_model_poll.author_user" />
		</td>
		<td>
		{poll.authorUser}
		</td>
	</tr>
</table>
</html>