<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <!-- TODO -->

    <f:if condition="{poll -> t3oodle:permission(action:'publish')}">
        <div class="alert alert-dark mb-4">
            <f:link.action action="publish" arguments="{poll:poll}" class="btn btn-success float-right my-2">Publish now</f:link.action>
            <p class="my-3">This poll is not published yet!</p>
        </div>
    </f:if>

    <f:if condition="{poll -> t3oodle:permission(action:'finish')}">
        <div class="alert alert-success mb-4">
            <!-- TODO: hier fehlt noch gänzlich die actions -->
          <a href="#" class="btn btn-dark float-right my-2">Finish voting</a>
          <p class="my-3">The poll is published. Voting is enabled.</p>
        </div>
    </f:if>
</html>
