/.idea
/.vscode
.DS_Store
/.Build
/var
/vendor
/.php-cs-fixer.cache
/composer.lock
/composer.json.testing
/composer.json.orig
/Documentation-GENERATED-temp

/.cache/
/Build/testing-docker/.env

/tailor-version-artefact/
/tailor-version-upload/
