<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/FGTCLB/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

<t3oodle:permission action="newSimplePoll">
	<f:then>
		<f:link.action action="new" arguments="{pollType:'FGTCLB\T3oodle\Domain\Model\SimplePoll'}" class="btn btn-primary"><f:translate key="label.newPollSimple" /></f:link.action>
	</f:then>
</t3oodle:permission>

<t3oodle:permission action="newSchedulePoll">
	<f:then>
		<f:link.action action="new" arguments="{pollType:'FGTCLB\T3oodle\Domain\Model\SchedulePoll'}" class="btn btn-primary"><f:translate key="label.newPollSchedule" /></f:link.action>
	</f:then>
</t3oodle:permission>

</html>
