<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/FGTCLB/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{t3oodle:permission(action:'newSimplePoll')}">
    <f:link.action action="new" arguments="{pollType:'simple'}" class="btn btn-primary"><f:translate key="label.newPollSimple" /></f:link.action>
</f:if>

<f:if condition="{t3oodle:permission(action:'newSchedulePoll')}">
    <f:link.action action="new" arguments="{pollType:'schedule'}" class="btn btn-primary"><f:translate key="label.newPollSchedule" /></f:link.action>
</f:if>

</html>
