<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<f:section name="content">
		<h1>Polls</h1>

		<f:flashMessages />

		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Titel</th>
						<th>Status</th>
						<th>Autor</th>
						<th>Letzte Änderung</th>
						<th>Teilnehmer</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{polls}" as="poll">
						<tr>
							<td>
								<f:link.action action="show" arguments="{poll : poll}" class="font-weight-bold">{poll.title}</f:link.action>
								<f:if condition="!{poll -> t3oodle:permission(action:'viewingInGeneral')}">
									(nur für dich sichtbar)
								</f:if>
							</td>
							<td>
								{poll.status}
							</td>
							<td>{poll.authorName}</td>
							<td>
								<f:if condition="{poll.published}">
									<f:then>
										<f:if condition="{poll.finished}">
											<f:then>
												{poll.finishDate -> f:format.date(format:'{settings.dateTimeFormat}')}
											</f:then>
											<f:else>
												{poll.publishDate -> f:format.date(format:'{settings.dateTimeFormat}')}
											</f:else>
										</f:if>
									</f:then>
									<f:else><em>Unveröffentlicht</em></f:else>
								</f:if></td>
							<td>{poll.votes -> f:count()}</td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</div>
		<f:render section="newButton" />
	</f:section>

	<f:section name="newButton">
		<f:if condition="{settings.allowNewPolls}">
			<f:link.action action="new" class="btn btn-primary">Create new poll</f:link.action>
		</f:if>
	</f:section>
</html>
