<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Poll</h1>

		<f:flashMessages />

		<table  class="tx_t3oodle" >
			<tr>
				<th><f:translate key="tx_t3oodle_domain_model_poll.title" /></th>
				<th><f:translate key="tx_t3oodle_domain_model_poll.slug" /></th>
				<th><f:translate key="tx_t3oodle_domain_model_poll.visibility" /></th>
				<th><f:translate key="tx_t3oodle_domain_model_poll.author" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{polls}" as="poll">
				<tr>
					<td><f:link.action action="show" arguments="{poll : poll}"> {poll.title}</f:link.action></td>
					<td><f:link.action action="show" arguments="{poll : poll}"> {poll.slug}</f:link.action></td>
					<td><f:link.action action="show" arguments="{poll : poll}"> {poll.visibility}</f:link.action></td>
					<td><f:link.action action="show" arguments="{poll : poll}"> {poll.author}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{poll : poll}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{poll : poll}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Poll</f:link.action>
	</f:section>
</html>