<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<f:section name="content">
		<h1>Polls</h1>

		<f:flashMessages />

		<div class="container">
			<div class="row">
				<div class="col">Titel</div>
				<div class="col">Veröffentlicht</div>
				<div class="col">Teilnehmer</div>
				<div class="col"></div>
			</div>
			<f:for each="{polls}" as="poll">
				<div class="row my-2">
					<div class="col">{poll.title}</div>
					<div class="col">{poll.published}</div>
					<div class="col">{poll.votes -> f:count()}</div>
					<div class="col">
						<f:link.action action="show" arguments="{poll : poll}" class="btn btn-primary btn-sm">Show</f:link.action>
					</div>
				</div>
			</f:for>
		</div>

		<f:link.action action="new" class="btn btn-primary">Create new poll</f:link.action>
	</f:section>
</html>
