<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/FGTCLB/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:flashMessages/>

    <f:render partial="Poll/New/Header" arguments="{poll:poll, contentObject:contentObject}" />
    <f:render partial="Poll/New/Form" arguments="{poll:poll, newOptions:newOptions, contentObject:contentObject, publishDirectly:publishDirectly}" />
</f:section>

</html>
