<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  This template displays a NEW form for the current domain object.

  If you modify this template, do not forget to change the overwrite settings
  in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
      Private:
        Templates:
          New.html: keep

  Otherwise your changes will be overwritten the next time you save the extension in the extension builder

  <f:section name="content">
    <h1>New Poll</h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />
    <f:form action="create"  name="poll" object="{poll}">
      <f:render partial="Poll/FormFields" section="default" arguments="{poll:poll, newOptions:newOptions, contentObject:contentObject}" />
      <div class="card mb-3">
        <div class="card-body">
          <div class="form-check">
            <f:form.checkbox name="publishDirectly" value="1" checked="{publishDirectly}" class="form-check-input mr-3 larger" id="t3oodle-poll-publish-directly" />
            <label class="form-check-label" for="t3oodle-poll-publish-directly">
              <strong><f:translate key="poll.publishDirectly.title" /></strong><br>
              <f:translate key="poll.publishDirectly.description" />
            </label>
          </div>
        </div>
      </div>
      <f:form.submit class="btn btn-primary" value="Create new" />

      <!-- TODO: Publish button -->

      <f:link.action action="list" class="btn btn-link">Zurück zur Übersicht</f:link.action>

    </f:form>
  </f:section>
</html>
