<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:t3oodle="http://typo3.org/ns/FGTCLB/T3oodle/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
	<f:flashMessages />

	<f:render partial="Poll/Show/Header" arguments="{poll:poll}" />
	<f:render partial="Poll/Show/Info" arguments="{poll:poll}" />
	<f:render partial="Poll/Show/NoticeSecretVoting" arguments="{poll:poll}" />
	<f:render partial="Poll/Show/NoticeExpireDate" arguments="{poll:poll}" />

	<f:if condition="{settings.show.showAdministrationBoxAboveVotes}">
		<f:render partial="Poll/Show/Administration" arguments="{poll:poll}" />
	</f:if>

	<f:render partial="Poll/Voting" arguments="{poll:poll, vote:vote, newOptionValues:newOptionValues, validationErrorsExisting:validationErrorsExisting, mySuggestions:mySuggestions}" />

	<f:if condition="!{settings.show.showAdministrationBoxAboveVotes}">
		<f:render partial="Poll/Show/Administration" arguments="{poll:poll}" />
	</f:if>
</f:section>

</html>
