<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<f:section name="content">
		<h1 class="title">
			{poll.title}
			<f:link.action class="btn btn-link" action="list">Back to list</f:link.action>
		</h1>
		<f:if condition="{poll.description}">
			<p class="description lead mb-3">
				{poll.description -> f:format.nl2br()}
			</p>
		</f:if>
		<f:if condition="{poll.link}">
			<p class="link lead my-3">
				Link: <f:link.external uri="{poll.link}" target="_blank">{poll.link -> f:format.crop(maxCharacters:48)}</f:link.external>
			</p>
		</f:if>

		<f:flashMessages />

		<f:render  partial="Poll/StatusHandling" section="default" arguments="{poll:poll}" />

		<f:render partial="Poll/Voting" arguments="{poll:poll, vote:vote, newOptionValues:newOptionValues}" />
	</f:section>
</html>
