<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/FGTCLB/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="poll-info mb-4">
    <f:if condition="{poll.description}">
        <p class="description lead mb-4">
            {poll.description -> f:format.nl2br()}
        </p>
    </f:if>
    <f:if condition="{poll.link}">
        <p class="link lead my-4">
            <f:translate key="label.moreInfo" />: <f:link.external uri="{poll.link}" target="_blank" class="external">{poll.link -> f:format.crop(maxCharacters:48)}</f:link.external>
        </p>
    </f:if>
    <div class="t3oodle-stats d-inline-block text-left">
        <ul class="list-unstyled my-0">
            <li>
                <strong><f:translate key="poll.type" />:</strong>
                <span><f:translate key="poll.type.{poll.type}">{poll.type}</f:translate></span>
            </li>
            <li>
                <strong><f:translate key="poll.status" />:</strong>
                <span><f:translate key="poll.status.{poll.status}">{poll.status}</f:translate></span>
            </li>
            <li>
                <strong><f:translate key="poll.author" />:</strong>
                <f:render partial="Poll/AuthorInfo" arguments="{poll:poll}" />
            </li>
            <li>
                <strong><f:translate key="label.amountOptions" />:</strong>
                <span>{poll.options -> f:count()}</span>
            </li>
            <f:if condition="{poll.published}">
                <li>
                    <strong><f:translate key="label.publishedAt" />:</strong>
                    <span class="date">{poll.publishDate -> f:format.date(format:'{settings.dateTimeFormat}')}</span>
                </li>
            </f:if>
            <f:if condition="{poll.finished}">
                <li>
                    <strong><f:translate key="label.finishedAt" />:</strong>
                    <span class="date">{poll.finishDate -> f:format.date(format:'{settings.dateTimeFormat}')}</span>
                </li>
            </f:if>
        </ul>
    </div>
</div>

</html>
