<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/FGTCLB/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="{settings.classes.tableResponsive}">
    <table class="{settings.classes.table} table-borderless voting-poll-type-{poll-type}">
        <thead>
            <f:render partial="Poll/Voting/Table/Head" arguments="{poll:poll, vote:vote}" />
        </thead>
        <tbody>
        <f:if condition="{settings.show.showOwnVoteAtTop}">
            <f:render partial="Poll/Voting/Table/YourVote" arguments="{poll:poll, vote:vote, newOptionValues:newOptionValues, validationErrorsExisting:validationErrorsExisting}" />
        </f:if>
        <f:for each="{poll.votes}" as="pollVote">
            <f:if condition="!{poll.settingSecretVotings} || !{poll.settingSecretParticipants}">
                <f:if condition="{settings._currentUserIdent} !== {pollVote.participantIdent}">
                    <f:render partial="Poll/Voting/Row" arguments="{vote:pollVote}" />
                </f:if>
            </f:if>
        </f:for>
        <f:if condition="!{settings.show.showOwnVoteAtTop}">
            <f:render partial="Poll/Voting/Table/YourVote" arguments="{poll:poll, vote:vote, newOptionValues:newOptionValues, validationErrorsExisting:validationErrorsExisting}" />
        </f:if>
        </tbody>
    </table>
    <f:render partial="FormFieldErrors" arguments="{for: 'vote.optionValues'}" />
</div>

</html>
