<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <tr>
        <th></th>
        <f:for each="{poll.options}" as="option" iteration="iterator">
            <th title="{option.name}" class="{f:if(condition:'{poll.finalOption} === {option}', then:'is-final-option ')}{f:if(condition:'{iterator.isEven}', then:'even', else:'odd')}">{option.name}</th>
        </f:for>
    </tr>
    <tr>
        <th>{poll.votes -> f:count()} participants<f:if condition="{vote.uid}"> (incl. you)</f:if> </th>
        <f:for each="{poll.options}" as="option" iteration="iterator">
            <th class="{f:if(condition:'{poll.finalOption} === {option}', then:'is-final-option ')}{f:if(condition:'{iterator.isEven}', then:'even', else:'odd')}">
                {poll.optionTotals.{option.uid}}
            </th>
        </f:for>
    </tr>

</html>
