<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3oodle="http://typo3.org/ns/T3/T3oodle/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <tr>
        <th class="participant"></th>
        <f:for each="{poll.options}" as="option" iteration="iterator">
            <f:render section="tableHeader{poll.partialName}" arguments="{option:option, iterator:iterator}" />
        </f:for>
    </tr>
    <tr>
        <th class="participant">{poll.votes -> f:count()} participants<f:if condition="{vote.uid}"> (incl. you)</f:if> </th>
        <f:for each="{poll.options}" as="option" iteration="iterator">
            <th class="total {f:if(condition:'{poll.finalOption} === {option}', then:'is-final-option ')}{f:if(condition:'{iterator.isEven}', then:'even', else:'odd')}">
                <f:if condition="{poll -> t3oodle:permission(action:'seeVotesDuringVoting')}">
                    <f:then>
                        <f:if condition="{poll.optionTotals.{option.uid}}">
                            <f:then>{poll.optionTotals.{option.uid}}</f:then>
                            <f:else>0</f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <span class="{settings.classes.secret}">?</span>
                    </f:else>
                </f:if>
            </th>
        </f:for>
    </tr>

<f:section name="tableHeaderSimple">
    <th title="{option.name}" class="title {f:if(condition:'{poll.finalOption} === {option}', then:'is-final-option ')}{f:if(condition:'{iterator.isEven}', then:'even', else:'odd')}">
        {option.name}
    </th>
</f:section>
<f:section name="tableHeaderSchedule">
    <th title="{option.name}" class="title {f:if(condition:'{poll.finalOption} === {option}', then:'is-final-option ')}{f:if(condition:'{iterator.isEven}', then:'even', else:'odd')}">
        <f:variable name="date">{option.name -> t3oodle:schedule.splitDayOption(get:'date')}</f:variable>
        <f:variable name="dateOption">{option.name -> t3oodle:schedule.splitDayOption(get:'option')}</f:variable>


        <div class="date-group" style="word-break: keep-all">
            <div class="month">{date -> f:format.date(format:'M')}</div>
            <div class="day">{date -> f:format.date(format:'d')}</div>
            <div class="weekday weekday-{date -> f:format.date(format:'N')}"><f:translate key="weekday.{date -> f:format.date(format:'N')}">{date -> f:format.date(format:'D')}</f:translate></div>
            <div class="mt-2">
                {dateOption}
            </div>
        </div>
    </th>
</f:section>

</html>
